#price {
    // background-image: url(../../images/price-bg.png);
    // z-index: -10;
    background-color: red;
    color: black;
}
.pricing-table {
    // z-index: 2;
    background-color: blue;
    color: red;
}